<form class="text-white mx-1 p-4 bg-consultas">
  <h5>COMPLETÁ TUS DATOS</h5>
  <p>PARA QUE TE PODAMOS CONTAR</p>
  <hr />
  <div class="form-group">
    <label for="contactado"
      >Apellido *
      <div style="display: inline;">*</div></label
    >
    <input
      class="form-control"
      type="text"
      text-input=""
      name="apellido"
      id="apellido"
      aria-invalid="true"
      required="required"
      style=""
    />
  </div>
  <div aria-hidden="false">
    <label for="nombre"
      >Nombre *
      <div style="display: inline;">*</div></label
    >
    <input
      class="form-control"
      type="text"
      text-input=""
      name="nombre"
      id="nombre"
      aria-invalid="true"
      required="required"
      style=""
    />
  </div>
  <div class="form-group" aria-hidden="false">
    <label for="telefono"
      >EMAIL *
      <div style="display: inline;" aria-hidden="false" class="">*</div></label
    >
    <input
      class="form-control"
      type="text"
      numbers-input=""
      name="telefono"
      id="telefono"
      ria-invalid="true"
      required="required"
      style=""
    />
    <!---->
  </div>
  <div class="form-group" aria-hidden="false">
    <label for="telefono"
      >Teléfono *
      <div style="display: inline;" aria-hidden="false" class="">*</div></label
    >
    <input
      class="form-control"
      type="text"
      numbers-input=""
      name="telefono"
      id="telefono"
      ria-invalid="true"
      required="required"
      style=""
    />
    <!---->
  </div>
  <div class="form-group" aria-hidden="false" style="">
    <label for="email"
      >LOCALIDAD *
      <div style="display: inline;" aria-hidden="false" class="">*</div></label
    >
    <input
      class="form-control"
      type="email"
      name="inputEmail"
      id="inputEmail"
      aria-invalid="true"
      required="required"
      style=""
    />
    <span aria-hidden="true"></span>
  </div>
  <hr />
  <div class="form-group" aria-hidden="false">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="terms"
        id="terms"
        required=""
        aria-invalid="true"
      />
      <label class="form-check-label">
        ACEPTO RECIBIR INFORMACIÓN Y OFERTAS COMERCIALES DE PARTE DE PEUGEOT
        ARGENTINA Y SU RED COMERCIAL. *</label
      >
      <!---->
    </div>
  </div>
  <div class="form-group">
    <button type="submit" name="Enviar" aria-hidden="false" style="">
      Enviar
    </button>
  </div>
  <p>*Campos obligatorios</p>
</form>
