<div class="container peugeot mt-5">
  <h1></h1>
  <h1>Nosotros</h1>
  <p>
    PEUGEOT AUTOPLAN es el plan de ahorro previo que permite comprar vehículos
    PEUGEOT mediante cuotas en pesos&nbsp; ajustables por el valor móvil del
    auto.<br />Se trata de un agrupamiento&nbsp;de determinado número de
    personas, que abonando mensualmente sus cuotas, en cada mes le permite al
    grupo ahorrar una suma para la adquisición de vehículos PEUGEOT que serán
    adjudicados entre los integrantes del grupo, mediante dos modalidades:
    sorteo y licitación.
  </p>
  <p>
    <b>Administra</b><br />Círculo de Inversores S.A.U. de ahorro para fines
    determinados.<br />Maipú 942 – Piso 18 CP (1006) - Horario de Atención de
    9:00 a 15:00<br />Ciudad de Buenos Aires<br />Centro Contacto Cliente :
    <font color="#000000"
      ><strong>0810 888 6666 </strong>-&nbsp;<span class="float: none;"
        >Horario de Atención de 8:00 a 20:00</span
      ></font
    >
  </p>
  <p>
    <!--EndFragment--><br /><span
      >Plan aprobado por la Inspección General de Justicia de la Nación.</span
    >
  </p>
  <p></p>
</div>
