<header>
    <div class="container">
        <img src="src/assets/img/true.jpg">
    </div>
</header>
<div class="container border-top border-bottom">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link">PLANES</a>
        <a class="nav-item nav-link" routerLink="/nosotros">NOSOTROS</a>
        <a class="nav-item nav-link" routerLink="/preguntasFrecuentes">PREGUNTAS FRECUENTES</a>
        <a class="nav-item nav-link" routerLink="/consultas">CONSULTAS</a>
        <a class="nav-item nav-link">CUPON DE PAGO</a>
    </nav>
</div>
<router-outlet></router-outlet>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_2.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<hr>
<footer>
    <div class="container">
        <ul class="nav justify-content-end small">
            <li class="nav-item"><a class="nav-link text-muted" href="#"> ÚLTIMA ACTUALIZACIÓN: 21/11/18</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> DEFENSA DEL CONSUMIDOR</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> LEGALES</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> LUGARES DE PAGO</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> POLITICA DE PRIVACIDAD</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> PROTECCION DE DATOS</a></li>
        </ul>
    </div>
</footer>