<header>
    <div class="container my-3">
        <img src="src/assets/img/true.jpg">
    </div>
</header>
<div class="container border-top border-bottom">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link">PLANES</a>
        <a class="nav-item nav-link" routerLink="/nosotros">NOSOTROS</a>
        <a class="nav-item nav-link" routerLink="/preguntasFrecuentes">PREGUNTAS FRECUENTES</a>
        <a class="nav-item nav-link" routerLink="/consultas">CONSULTAS</a>
        <a class="nav-item nav-link" href="" data-toggle="modal" data-target="#cupon">CUPON DE PAGO</a>
    </nav>
</div>
<!-- ROUTER OUTLET -->
<router-outlet></router-outlet>
<!-- ./ROUTER OUTLET -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_2.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="src/assets/img/banner/true_3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<hr>
<footer>
    <div class="container">
        <a href="#" class="btn btn-primary justify-content-start">MI CUENTA ></a>
        <ul class="nav justify-content-end small">
            <li class="nav-item"><a class="nav-link text-muted" href="#"> ÚLTIMA ACTUALIZACIÓN: 21/11/18</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> DEFENSA DEL CONSUMIDOR</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> LEGALES</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> LUGARES DE PAGO</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> POLITICA DE PRIVACIDAD</a></li>
            <li class="nav-item"><a class="nav-link text-muted" href="#"> PROTECCION DE DATOS</a></li>
        </ul>
    </div>
</footer>

<!-- MODAL -->
<div class="modal fade" id="cupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 text-center">
                <h5 class="modal-title" id="exampleModalLabel">CUPON DE PAGO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" d-flex justify-content-center">
                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Grupo">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Orden">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>