<div class="container">
  <div class="row">
    <div class="col-md-6 bg-primary text-white">
      <form>
        <h1>CONSULTAS</h1>
        <p>COMPLETÁ
          TUS DATOS PARA QUE TE PODAMOS CONTACTAR</p>
        <div class="form-group">
          <label for="contactado">Apellido <div style="display: inline;">*</div></label>
          <input class="form-control" type="text" text-input="" name="apellido" id="apellido" aria-invalid="true"
            required="required" style="">
        </div>
        <div aria-hidden="false">
          <label for="nombre">Nombre <div style="display: inline;">*</div></label>
          <input class="form-control" type="text" text-input="" name="nombre" id="nombre" aria-invalid="true" required="required"
            style="">
          <!---->
        </div>
        <div class="form-group" aria-hidden="false">
          <label for="telefono">Teléfono <div style="display: inline;" aria-hidden="false" class="">*</div></label>
          <input class="form-control" type="text" numbers-input="" name="telefono" id="telefono" ria-invalid="true"
            required="required" style="">
          <!---->
        </div>
        <div class="form-group" aria-hidden="false" style="">
          <label for="email">Email <div style="display: inline;" aria-hidden="false" class="">*</div></label>
          <input class="form-control" type="email" name="inputEmail" id="inputEmail" aria-invalid="true" required="required"
            style="">
          <span aria-hidden="true"></span>
        </div>
        <div class="form-group" aria-hidden="false">
          <label for="consulta">Consulta <div style="display: inline;" ng-show="getField('consulta').mandatory"
              aria-hidden="false" class="">*</div></label>
          <textarea class="form-control" aria-invalid="true" required="required" style=""></textarea>
        </div>
        <div class="form-group" aria-hidden="false">
          <label for="cliente">¿Sos cliente? <div style="display: inline;">*</div></label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cliente" value="SI" aria-invalid="true" required="required"
              style="">
            <label class="form-check-label">
              Si
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cliente" value="NO" aria-invalid="true" required="required"
              style="">
            <label class="form-check-label">
              No
            </label>
          </div>
          <!---->
        </div>
        <hr>
        <div class="form-group" aria-hidden="false">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="terms" id="terms" required="" aria-invalid="true">
            <label class="form-check-label"> Acepto términos y condiciones *
            </label>
            <!---->
          </div>
        </div>
        <div class="form-group">
          <button type="submit" name="Enviar" aria-hidden="false" style="">
            Enviar
          </button>
        </div>
        <p>*Campos
          obligatorios</p>
      </form>
    </div>
    <div class="col-md-6">
      <div>
        <h1></h1>
        <p></p>
        <p>TÉRMINOS Y CONDICIONES:</p>
        <p>Sr. Cliente, por la presente le hacemos saber que los datos personales
          que Ud. nos suministre serán almacenados en nuestra base de datos de CLIENTES, la cual se encuentra
          debidamente
          inscripta ante la Dirección Nacional de Protección de Datos Personales. <br>El responsable de dicha base es
          AUTOPLAN DE INVERSORES S.A. DE AHORRO PARA FINES DETERMINADOS con domicilio legal en Av. Maipú 942, Piso 20,
          contrafrente de la Ciudad Autónoma de Buenos Aires. <br>La información brindada será utilizada por nosotros o
          por
          terceros, con el debido compromiso de confidencialidad y seguridad asumido y/o el cumplimiento de las
          obligaciones
          contractuales y legales derivadas de la suscripción de su plan de ahorro. <br>Como ejemplo de los terceros
          antes
          mencionados están: AFIP, Peugeot Peugeot Argentina S.A., empresas prestadoras de servicios de localización
          satelital, instituciones bancarias, financieras y aseguradoras, Registros de la Propiedad Automotor, etc. <br>Los
          datos requeridos son, en su gran mayoría, obligatorios por ser necesarios para cumplir con nuestras
          obligaciones
          contractuales para con Ud. y las legales que nos caben. Consecuentemente, la negativa a suministrar los datos
          obligatorios podría resultar en la imposibilidad de contratar con Ud. <br>Ud. podrá solicitar en cualquier
          momento
          la rectificación o supresión de los datos suministrados. En este último caso con las consecuencias que ello
          implique. <br>A efectos del ejercicio de estos derechos se ha establecido que el solicitante deberá
          presentarse
          en
          el domicilio social de la Empresa (actualmente en Maipú 942, Piso 20, contrafrente, C.A.B.A.), acreditar su
          identidad y completar el formulario correspondiente. <br>En cumplimiento de la Disposición 10/08 le hacemos
          saber:
          “El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma
          gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto
          conforme
          lo
          establecido en el artículo 14, inciso 3 de la Ley Nº 25.326". <br>“La DIRECCIÓN NACIONAL DE PROTECCIÓN DE
          DATOS
          PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos
          que
          se
          interpongan con relación al incumplimiento de las normas sobre protección de datos personales".</p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>