<div class="container">
  <h1 class=" color-p mt-5 peugeot p-55">Preguntas Frecuentes</h1>
  <div class="accordion" id="accordionExample">
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse1"
        aria-expanded="true"
        aria-controls="collapse1"
        id="heading1"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            1. ¿CUÁLES SON LOS REQUISITOS QUE DEBO REUNIR PARA SUSCRIBIR UN PLAN
            DE AHORRO?
          </p>
        </h5>
      </div>
      <div
        id="collapse1"
        class="collapse"
        aria-labelledby="heading1"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>Los requisitos que debe cumplir el solicitante son:&nbsp;</p>
          <p></p>
          <ul>
            <li>
              Completar y firmar en cualquier concesionario de la red una
              Solicitud de Adhesión y sus anexos correspondientes.?Para personas
              físicas, contar con una edad mínima de 18 años y máxima 76 años.
            </li>
            <li>
              Para personas jurídicas, presentar la documentación societaria
              respaldatoria y acreditar la personería jurídica.
            </li>
            <li>
              Abonar el importe correspondiente al Derecho de Inscripción (en
              caso de que la sociedad no lo prorratee en las cuotas)
            </li>
            <li>Abonar la primera cuota mensual.</li>
            <li>
              Abonar el sellado de la solicitud (en caso de que la Sociedad no
              lo prorratee en las cuotas).
            </li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse2"
        aria-expanded="true"
        aria-controls="collapse2"
        id="heading2"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            2. ¿EN QUE MONEDA SE FACTURAN LAS CUOTAS DEL PLAN DE AHORRO?
          </p>
        </h5>
      </div>
      <div
        id="collapse2"
        class="collapse"
        aria-labelledby="heading2"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Las cuotas se abonan en ARS (moneda de Argentina).<br /><br />Las
            cuotas se ajustan según la lista de precios vigente (en pesos) a la
            fecha de emisión de cada cuota. Es decir, si hubiese una baja en la
            lista de precios la cuota disminuirá en idéntica proporción,
            mientras que si hubiese un aumento la cuota será aumentada en el
            mismo porcentaje.<br />Pero en ningún caso las variaciones de
            precios serán retroactivas, ni afectarán las cuotas ya abonadas.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse3"
        aria-expanded="true"
        aria-controls="collapse3"
        id="heading3"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            3. ¿QUE CONCEPTOS COMPONEN LAS CUOTAS MENSUALES?
          </p>
        </h5>
      </div>
      <div
        id="collapse3"
        class="collapse"
        aria-labelledby="heading3"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p></p>
          <ul>
            <li>
              <b>Alícuota:</b
              ><span>
                es el importe resultante de dividir el valor básico del vehículo
                de ahorro, vigente a la fecha de emisión de cada cuota, por la
                cantidad de meses de&nbsp;</span
              >duración del plan correspondiente.
            </li>
            <li>
              <b>Gastos administrativos:</b
              ><span>
                Es un arancel que el adherente abona a la administradora, y su
                porcentaje depende del tipo de plan correspondiente.</span
              >
            </li>
            <li>
              <b>Derecho de Inscripción:</b
              ><span>
                hasta el 2.5% del valor básico vigente del modelo elegido al
                momento de la suscripción. La administradora podrá ofrecer que
                el mismo sea pagado en forma prorrateada.</span
              >
            </li>
            <li>
              <b>Seguro del bien:</b
              ><span> Si el vehículo estuviese adjudicado y entregado.</span>
            </li>
            <li>
              <b>Penalidades y actualizaciones</b
              ><span> por pago fuera de término.</span>
            </li>
          </ul>
          <p></p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse4"
        aria-expanded="true"
        aria-controls="collapse4"
        id="heading4"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            4. ¿COMO SE ABONAN LAS CUOTAS MENSUALMENTE?
          </p>
        </h5>
      </div>
      <div
        id="collapse4"
        class="collapse"
        aria-labelledby="heading4"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Todos los meses recibirá en su domicilio un aviso cupón de la cuota
            respectiva, la cual podrá abonarla en cualquiera de los medios
            habilitados para tal fin detallados en su dorso.<br />También tiene
            la posibilidad de adherirse a débito directo por cuenta bancaria o
            tarjeta de crédito, imprimir el comprobante desde las páginas web:
            autoplan-peugeot.com.ar, para abonar en Rapipago, Bapropagos o
            PagoFacil. Asimismo, sin necesidad de recibir el cupón puede abonar
            en cualquier sucursal del país de los bancos MACRO, NACIÓN y
            GALICIA.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse5"
        aria-expanded="true"
        aria-controls="collapse5"
        id="heading5"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            5. ¿QUÉ SUCEDE SI ABONO LA CUOTA LUEGO DEL VENCIMIENTO?
          </p>
        </h5>
      </div>
      <div
        id="collapse5"
        class="collapse"
        aria-labelledby="heading5"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Los clientes no adjudicatarios con pagos efectuados fuera de término
            serán inhabilitados para participar del Acto de Adjudicación
            correspondiente a los fondos recaudados en el mes en el que se
            produjo el atraso en el pago de la cuota. Asimismo, tanto los
            adherentes no adjudicatarios como los adjudicatarios deberán abonar
            la actualización de la cuota y demás penalidades por pago fuera de
            término (PFT) que se adicionarán a la cuota siguiente.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse6"
        aria-expanded="true"
        aria-controls="collapse6"
        id="heading6"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            6. ¿QUE OCURRE CON EL PLAN SI SE DEJAN DE PAGAR LAS CUOTAS?
          </p>
        </h5>
      </div>
      <div
        id="collapse6"
        class="collapse"
        aria-labelledby="heading6"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Los planes de ahorristas (no adjudicados) se rescinden
            automáticamente al registrarse 3 cuotas vencidas e impagas,
            consecutivas o no. En este caso se abona una multa del 4% que se
            descontará del monto de su haber. Es importante destacar que todo
            plan rescindido puede ponerse al día, solicitando la reactivación
            del mismo.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse7"
        aria-expanded="true"
        aria-controls="collapse7"
        id="heading7"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            7. ¿SE PUEDE RENUNCIAR AL PLAN?
          </p>
        </h5>
      </div>
      <div
        id="collapse7"
        class="collapse"
        aria-labelledby="heading7"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Si, para poder renunciar al plan los clientes deben presentar una
            nota firmada, dirigida a la administradora, manifestando su
            intención de renunciar. Además para poder hacerlo es imprescindible
            que se encuentren al día en el pago de sus cuotas mensuales.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse8"
        aria-expanded="true"
        aria-controls="collapse8"
        id="heading8"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            8. ¿EL PLAN ES TRANSFERIBLE?
          </p>
        </h5>
      </div>
      <div
        id="collapse8"
        class="collapse"
        aria-labelledby="heading8"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Sí, es transferible en todo momento, cumplimentando el formulario
            establecido a tal efecto a través del concesionario interviniente y
            abonando el sellado fiscal correspondiente. Las firmas del comprador
            y vendedor en el formulario de transferencia deberán estar
            certificadas por Escribano Público, entidad bancaria o autoridad
            policial y el contrato deberá encontrarse con las cuotas al día.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse9"
        aria-expanded="true"
        aria-controls="collapse9"
        id="heading9"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            9. ¿ES POSIBLE REINCORPORARSE AL GRUPO LUEGO DE HABER RENUNCIADO O
            RESCINDIDO EL PLAN?
          </p>
        </h5>
      </div>
      <div
        id="collapse9"
        class="collapse"
        aria-labelledby="heading9"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Sí, es posible reactivar el plan a través del pago de las cuotas
            adeudadas en forma total o mediante el prorrateo en cuotas de dicha
            deuda, siempre sujeto a aprobación de la Administradora.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse10"
        aria-expanded="true"
        aria-controls="collapse10"
        id="heading10"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            10. ¿COMO SE ADJUDICA UNA UNIDAD?
          </p>
        </h5>
      </div>
      <div
        id="collapse10"
        class="collapse"
        aria-labelledby="heading10"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Todos los meses con los fondos recaudados del mes anterior, se
            realiza un acto de adjudicación permitiéndose la asistencia<br />del
            público en general. Fiscalizan los mismos, un Escribano Público
            quien labra el Acta correspondiente y puede estar presente un
            representante de la Inspección General de Justicia de la Nación. Las
            adjudicaciones de las unidades se realizan según las dos modalidades
            previstas: Sorteo o Licitación.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse11"
        aria-expanded="true"
        aria-controls="collapse11"
        id="heading11"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            11. ¿EN QUE CONSISTE LA MODALIDAD LICITACION Y CÓMO SE LICITA?
          </p>
        </h5>
      </div>
      <div
        id="collapse11"
        class="collapse"
        aria-labelledby="heading11"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Licitar consiste en ofertar una suma de dinero a criterio de cada
            suscriptor dentro de un monto mínimo y máximo<br />establecido por
            la Sociedad Administradora. La unidad por licitación será adjudicada
            al contrato con mayor monto ofertado en cada uno de los grupos. Para
            licitar se debe presentar el formulario de oferta de licitación
            acompañado de un:
          </p>
          <p></p>
          <ol>
            <li>
              Cheque ¨no a la orden¨ a favor de Peugeot Citroen Argentina S.A.
              el cual será cobrado únicamente si el adherente resulta ganador.
            </li>
            <li>
              O bien un compromiso de pago, que deberá ser abonado únicamente si
              el adherente resulta ganador.&nbsp;
            </li>
          </ol>
          <p>
            <span><br /></span>
          </p>
          <p>
            <span
              >El sobre cerrado conteniendo la oferta deberá ser presentado
              en:&nbsp;</span
            >
          </p>
          <p></p>
          <ol>
            <li>
              Las oficinas de Círculo de Inversores, hasta con 2 días corridos
              de anticipación a la fecha de realización del acto de
              adjudicación.
            </li>
            <li>
              <span
                >El lugar de realización del acto de adjudicación hasta 5
                minutos antes de la iniciación del sorteo.</span
              >
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse12"
        aria-expanded="true"
        aria-controls="collapse12"
        id="heading12"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            12. ¿QUE SUCEDE SI DOS OFERTAS DE LICITACION TIENEN EL MISMO
            IMPORTE?
          </p>
        </h5>
      </div>
      <div
        id="collapse12"
        class="collapse"
        aria-labelledby="heading12"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            En caso de igualdad de las ofertas de licitación,se determinará el
            ganador según el orden establecido por la extracción de<br />bolillas
            en el Sorteo.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse13"
        aria-expanded="true"
        aria-controls="collapse13"
        id="heading13"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            13. ¿CÓMO SE INFORMA EL RESULTADO DEL ACTO DE ADJUDICACION?
          </p>
        </h5>
      </div>
      <div
        id="collapse13"
        class="collapse"
        aria-labelledby="heading13"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>En el Acto de Adjudicación.</li>
            <li>
              A través de la página Web autoplan-peugeot.com.ar al día siguiente
              del Acto de Adjudicación.
            </li>
            <li>
              Mediante consulta al Centro de Contacto Clientes al día siguiente
              del Acto de Adjudicación.
            </li>
            <li>
              Comunicándose con su Concesionario oficial al día siguiente del
              Acto de Adjudicación.<br />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse14"
        aria-expanded="true"
        aria-controls="collapse14"
        id="heading14"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            14. ¿UNA VEZ ADJUDICADA LA UNIDAD, SE PUEDE OPTAR POR OTRA UNIDAD DE
            MAYOR O MENOR VALOR?
          </p>
        </h5>
      </div>
      <div
        id="collapse14"
        class="collapse"
        aria-labelledby="heading14"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            Si, abonando la diferencia de precio que hubiere entre el modelo
            base del bien suscripto y la unidad elegida (previa aceptación del
            fabricante) La unidad deberá se asegurada en una de las compañías
            que elija el adjudicatario de una lista propuesta por la<br />Sociedad
            Administradora, con endoso a favor de la misma. Dicha contratación,
            se efectúa por medio del concesionario quien ingresa a la página Web
            (www.myaonline.com.ar) que dispone el bróker de seguros para obtener
            el certificado de cobertura que entrega al cliente en el momento de
            retirar la unidad. La póliza es de renovación automática por la
            Aseguradora y caduca con la finalización del contrato o la
            cancelación anticipada del total de las alícuotas. <br />
          </p>
        </div>
      </div>
    </div>
    <div class="card mt-1 border-0">
      <div
        class="card-header ac-header m-0 collapsed"
        data-toggle="collapse"
        data-target="#collapse15"
        aria-expanded="true"
        aria-controls="collapse15"
        id="heading15"
      >
        <h5 class="mb-0">
          <p class="peugeot color-p d-block m-1 p-16">
            15. ¿COMO SE CONTRATA EL SEGURO DE LA UNIDAD?
          </p>
        </h5>
      </div>
      <div
        id="collapse15"
        class="collapse"
        aria-labelledby="heading15"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            <a
              href="http://www.myaonline.com.ar/"
              style="background-color: rgb(255, 255, 255);color: rgb(90, 115, 142);font-size: 13px;"
              ><u>
                <font color="#0066cc"
                  ><br /><span style="font-size: 13px;float: none;"></span
                ></font> </u
            ></a>
          </p>
          <p><font color="#0066cc" style="font-size: 13px;"></font></p>
          <p style="text-align: justify;">
            <span style="font-size: 11.0pt;"></span>
          </p>
          <p>
            La unidad deberá ser asegurada en una de las compañías que elija el
            adjudicatario de una lista propuesta por la Sociedad Administradora,
            con endoso a favor de la misma. Dicha contratación, se efectúa por
            medio del concesionario quien ingresa a la página Web
            (www.msbonline.com.ar) que dispone el bróker de seguros para obtener
            el certificado de cobertura que entrega al cliente en el momento de
            retirar la unidad. La póliza es de renovación automática por la
            Aseguradora y caduca con la finalización del contrato o la
            cancelación anticipada del total de las alícuotas.
          </p>
          <p>
            <u>
              <font color="#0066cc"><br /></font>
            </u>
          </p>
          <p><br /></p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
