.card-header {
  background-color: #f5f5f5 !important;
  border: none !important;
}
.peugeot {
  font-family: Peugeot, Helvetica, sans-serif !important;
}

.ac-header {
  background-color: #162133 !important;
  color: white;
}
.collapsed {
  background-color: #f5f5f5 !important;
  color: #162133;
}
.p-55 {
  font-size: 55px;
}

.p-16{
  font-size: 16px;
}

